.trips-table-row {
	display: flex;
	justify-content: space-around;
}
.trips-row-item {
	margin-top: 0.25rem;
	align-self: center;
	text-align: center;
	width: 12rem;
}

.trips-table-btn {
	background-color: transparent;
	align-self: center;
	width: 2rem;
	height: 2rem;
}
