
.form-container {
	height:33rem;
	width: 32rem;
	background-color: #17a2b8;
	border-radius: 0.3rem;
}
.form-input:first-child {
	margin-top: 1rem;
}
.form-input {
	padding-left: 1rem; 
	width: 26rem;
	height: 3rem;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1rem 3rem 1rem 3rem;
}
.form-input.valid {
	box-shadow: 0px 0px 0px 3px rgba(45, 166, 75, 0.4);
}
.form-input.invalid {
	box-shadow: 0px 0px 0px 3px rgba(255, 28, 28, 0.4);
}

.form-btn {
	height: 3rem;
	width: 26rem;
	margin: 1rem 3rem 0rem 3rem;
	background-color: #007bff;
	color: azure;
	
}
.form-btn:hover {
	background-color: #4f9bed;
	
}

.form-btn-icon-google {
	margin-right: 1rem;
}
.form-btn-icon-fb {
	margin-left: 0.7rem;
	margin-right: 1.1rem;
}

.alert-error {
	text-align: center;
	height: 1.5rem;
	margin-left: 0rem;
	font-size: 14px;
	color: rgb(165, 53, 53);
}
.phone-alert-error {
	text-align: center;
	height: 1.5rem;
	margin-top: 4rem;
	margin-left: 0rem;
	font-size: 14px;
	color: rgb(165, 53, 53);
}

.captcha {
	border-radius: 5px;
	margin-left: 3rem;
	width: 26rem;
	height: 3rem;
}