.input-row {
	justify-content: space-around;
	background-color: beige;
	margin-bottom: 1rem;
	border-radius: 1rem;
	display: flex;
	margin-left: 3rem;
	margin-right: 3rem;
}
.modal-input {
	background-color: beige;
	width: 10rem;
	border: none;
	outline-style: none;
	text-align: center;
}

.input-wrapper {
	height: 3rem;
	text-align: center;
	display: flex;
	flex: 1;
}


.list-of-elements {
	align-self: center;
	max-height: 3rem;
	margin-left: 4rem;
	margin-bottom: 0rem;
	padding: 0;
	overflow-y: auto;
	background-color: beige;
	list-style: none;
	width: 10rem;
	text-align: center;
}

.list-item:hover {
	background: gray;
}

.label {align-self: center;
	margin-left: 2rem;
	width: 10rem;
}
