.profile-container {
	background-color: rgba(108, 117, 125, 0.5);
	border-radius: 1rem;
	width: 40rem ;
	height: 40rem;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	align-items: center;
	}

	.profile-item {
		margin: 1rem 3rem 1rem 3rem;
		flex: 1;
		display: flex;
		align-items: center;
	}

	.profile-item-label {
		width: 4rem;
		color: lightgray;
	}

	.profile-item-input {
		padding-left: 1rem;
	width: 25rem;
	height: 2rem; 
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1rem 0rem 1rem 1rem;
	}
	.profile-item-select {
		padding-left: 1rem;
	width: 25rem;
	height: 2rem; 
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1rem 0rem 1rem 1rem;
	}
	.profile-item-btn {
		align-self: center;
		margin: 2rem 3rem 2rem 8rem;
		width: 25rem;
	}

	.profile-alert-succ{
		text-align: center;
		margin-left: 6rem;
		height: 1.5rem;
		font-size: 14px;
		color: rgb(62, 165, 53);
	}
	
	.profile-alert-error{
		text-align: center;
		margin-left: 6rem;
		height: 1.5rem;
		font-size: 14px;
		color:  rgb(165, 53, 53);
	}

	