.sidebar-open {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(108, 117, 125, 0.5);
	width: 15rem;
	margin-left: 0rem;
	height: 100vh;
}
.sidebar-close {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(108, 117, 125, 0.5);
	width: 5rem;
	height: 100vh;
}

.sidebar-btn {
	padding: 0;
	background: rgba(108, 117, 125,0);
}

.sidebar-icon {
	margin-top: 1rem;
	margin-left: 1.5rem;
}


.sidebar-section {
	background-color: rgba(108, 117, 125, 0);
}

.sidebar-section.selected {
	background-color: rgba(108, 117, 125, 1);
}

.sidebar-signout-btn-close {
 margin-left: 0.5rem;
 margin-bottom: 0.5rem;
 width: 4rem;
}


.sidebar-humburger-stick {
	background: gray;
	margin: 0.5rem;
	border-radius: 1rem;
	height: 0.5rem;
	width: 4rem;
}
.user {
	margin: 1rem 2rem;
}

.sidebar-signout-btn {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 0.5rem;
}
